<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">

</head>


<body>

    <div class="content">

        <h1>
            Log In
        </h1>
        <form>
            <div class="row">
                <input type="text" class="text-input" id="user-name" placeholder="Username">
            </div>

            <div class="row">
                <input type="password" class="text-input" id="pass-word" placeholder="Password">
            </div>

            <div class="row">
                <input type="submit" id="login-submit" onclick="authenticateUser()">
            </div>
        </form>
    </div>

</body>
<script src="{{ url_for('static',filename='javascript/login.js') }}"></script>

</html>