<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">

</head>


<body onload="studentClasses(5)" ; onload="offeredCourses(5)">

    <div class="student-content">
        <div class="row">
            <div class="tabs">
                <button class="tablinks" onclick="openTab('my-classes')">My Classes</button>
                <button class="tablinks" onclick="openTab('offered-coures')">Offered Classes</button>
                <form action ="{{url_for('logout')}}" method = 'GET'>
                <button class="tablinks">Log Out</button>
                </form>
            </div>
        </div>

        <div class="container">
            <div id="my-classes" class="table-content">

            </div>

            <div id="offered-coures" class="table-content">
                <table>
                    <tr>
                        <th>Course Name</th>
                        <th>Teacher</th>
                        <th>Time</th>
                        <th>Students Enrolled</th>
                        <th>Add Class</th>
                    </tr>
                    <tr>
                        <td>CSE 106</td>
                        <td>Prof</td>
                        <td>MWF 3:40-4:50 PM</td>
                        <td>3/11</td>
                        <td><button onclick="addCourse()">Add Course</button></td>
                    </tr>
                    <tr>
                        <td>CSE 101</td>
                        <td>Prof2</td>
                        <td>MWF 2:40-4:50 PM</td>
                        <td>6/12</td>
                        <td><button onclick="addCourse()">Add Course</button></td>
                    </tr>
                    <tr>
                        <td>CSE 31</td>
                        <td>Prof3</td>
                        <td>TR 3:40-4:50 PM</td>
                        <td>5/11</td>
                        <td><button onclick="addCourse()">Add Course</button></td>
                    </tr>

                </table>
            </div>
        </div>
    </div>


    </div>

</body>

<script src="{{ url_for('static',filename='javascript/studentView.js') }}"></script>

</html>