html{
    background-color: rgb(255, 255, 255);
}


.content{
    background-color: rgb(197, 201, 197);
    align-items: center;
    height: 350px;
    width: 50%;
    align-content: center;
    text-align: center;
    position: fixed;
    top: 30%;
    left: 25%;
}

.text-input{
    width: 50%;
    height: 20%;

}

.row {
    text-align: center;
    margin-left: 5px;
    margin-bottom: 20px;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
}